# IntelliJ
.idea/
**/.idea/
*.iml

# Maven / Spring Boot
target/
**/target/
${project.build.directory}/

# React / Node
node_modules/
**/node_modules/

# Logs
*.log

# Environment files
.env
.env.*

# OS files
.DS_Store
Thumbs.db